body{
    font-family: Fira Code;
    text-align: center;
}
p{
    font-size: 1.4em;
}

.container{
    display: inline-block;
    border: 5px solid #48e;
    margin-top: 30px;
}
.tagline{
    font-weight: 300;
    font-size: 20px;
    color: aliceblue
}
.post{
    width: 70vw;
    display: inline-block;
}

h1{
    animation: underline .4s alternate infinite linear;
}

header{
    background-color: #48e;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: left;
    padding: 10px;
}


@keyframes underline {
    from{
        text-decoration: underline;
    }

    to{
        text-decoration: none;
    }
}
